.super-mario {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 400px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 580px;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    top: 400px;
    left: 100px;  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 440px;
    left: 120px; 
    z-index: 2
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 550px;
    left: 400px;  
  }