    h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
    }
    ul {
    background-color: blue;
    }
    .p-ul-color {
    background-color: yellowgreen;
    }
    p {
    font-weight: 600;
    font-size: 48px;
    font-style: oblique;
    line-height: 300px;
    text-align: right;
    text-decoration: wavy;        }
    body {
    font-size: 16px;
    }
    #amarelo {background-color: yellow;}
    #vermelho {background-color: red;}
    #marrom {background-color: brown;}
